@import url("https://fonts.googleapis.com/css?family=Roboto:900,400");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: inherit;
}